version: '3'
services:
  rabbitmq:
    build:
      context: ./rabbitmq
      dockerfile: rabbitmq.dockerfile
    ports:
      - 15672:15672

  filter1.0.0:
    build:
      context: ./
      dockerfile: Filter/Filter.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=1.0.0
      - EOF_TO_RECEIVE=1
      - NEXT_POOL_WORKERS=2
      - FORWARD_TO=1.1
      - SHARD_BY=
      - WORKER_FIELD=categories
      - WORKER_VALUE=Computers

  filter1.0.1:
    build:
      context: ./
      dockerfile: Filter/Filter.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=1.0.1
      - EOF_TO_RECEIVE=1
      - NEXT_POOL_WORKERS=2
      - FORWARD_TO=1.1
      - SHARD_BY=
      - WORKER_FIELD=categories
      - WORKER_VALUE=Computers

  filter1.1.0:
    build:
      context: ./
      dockerfile: Filter/Filter.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=1.1.0
      - EOF_TO_RECEIVE=2
      - NEXT_POOL_WORKERS=2
      - FORWARD_TO=1.2
      - SHARD_BY=
      - WORKER_FIELD=year
      - WORKER_VALUE=2000,2023

  filter1.1.1:
    build:
      context: ./
      dockerfile: Filter/Filter.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=1.1.1
      - EOF_TO_RECEIVE=2
      - NEXT_POOL_WORKERS=2
      - FORWARD_TO=1.2
      - SHARD_BY=
      - WORKER_FIELD=year
      - WORKER_VALUE=2000,2023

  filter1.2.0:
    build:
      context: ./
      dockerfile: Filter/Filter.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=1.2.0
      - EOF_TO_RECEIVE=2
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=Gateway
      - SHARD_BY=
      - WORKER_FIELD=title
      - WORKER_VALUE=distributed

  filter1.2.1:
    build:
      context: ./
      dockerfile: Filter/Filter.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=1.2.1
      - EOF_TO_RECEIVE=2
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=Gateway
      - SHARD_BY=
      - WORKER_FIELD=title
      - WORKER_VALUE=distributed

  accumulator2.0.0:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=2.0.0
      - EOF_TO_RECEIVE=1
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=Gateway
      - SHARD_BY=
      - WORKER_FIELD=year
      - WORKER_VALUE=10
      - ACCUMULATE_BY=authors

  accumulator2.0.1:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=2.0.1
      - EOF_TO_RECEIVE=1
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=Gateway
      - SHARD_BY=
      - WORKER_FIELD=year
      - WORKER_VALUE=10
      - ACCUMULATE_BY=authors

  filter3.0.0:
    build:
      context: ./
      dockerfile: Filter/Filter.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=3.0.0
      - EOF_TO_RECEIVE=1
      - NEXT_POOL_WORKERS=4
      - FORWARD_TO=3.1
      - SHARD_BY=title
      - WORKER_FIELD=year
      - WORKER_VALUE=1990,1999

  filter3.0.1:
    build:
      context: ./
      dockerfile: Filter/Filter.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=3.0.1
      - EOF_TO_RECEIVE=1
      - NEXT_POOL_WORKERS=4
      - FORWARD_TO=3.1
      - SHARD_BY=title
      - WORKER_FIELD=year
      - WORKER_VALUE=1990,1999

  filter3.0.2:
    build:
      context: ./
      dockerfile: Filter/Filter.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=3.0.2
      - EOF_TO_RECEIVE=1
      - NEXT_POOL_WORKERS=4
      - FORWARD_TO=3.1
      - SHARD_BY=title
      - WORKER_FIELD=year
      - WORKER_VALUE=1990,1999

  filter3.0.3:
    build:
      context: ./
      dockerfile: Filter/Filter.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=3.0.3
      - EOF_TO_RECEIVE=1
      - NEXT_POOL_WORKERS=4
      - FORWARD_TO=3.1
      - SHARD_BY=title
      - WORKER_FIELD=year
      - WORKER_VALUE=1990,1999

  accumulator3.1.0:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=3.1.0
      - EOF_TO_RECEIVE=4
      - NEXT_POOL_WORKERS=1,4
      - FORWARD_TO=Gateway,4.0
      - SHARD_BY=,title
      - WORKER_FIELD=review_count
      - WORKER_VALUE=500
      - ACCUMULATE_BY=title

  accumulator3.1.1:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=3.1.1
      - EOF_TO_RECEIVE=4
      - NEXT_POOL_WORKERS=1,4
      - FORWARD_TO=Gateway,4.0
      - SHARD_BY=,title
      - WORKER_FIELD=review_count
      - WORKER_VALUE=500
      - ACCUMULATE_BY=title

  accumulator3.1.2:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=3.1.2
      - EOF_TO_RECEIVE=4
      - NEXT_POOL_WORKERS=1,4
      - FORWARD_TO=Gateway,4.0
      - SHARD_BY=,title
      - WORKER_FIELD=review_count
      - WORKER_VALUE=500
      - ACCUMULATE_BY=title

  accumulator3.1.3:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=3.1.3
      - EOF_TO_RECEIVE=4
      - NEXT_POOL_WORKERS=1,4
      - FORWARD_TO=Gateway,4.0
      - SHARD_BY=,title
      - WORKER_FIELD=review_count
      - WORKER_VALUE=500
      - ACCUMULATE_BY=title

  accumulator4.0.0:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=4.0.0
      - EOF_TO_RECEIVE=4
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=4.1
      - SHARD_BY=title
      - WORKER_FIELD=rating
      - WORKER_VALUE=10
      - ACCUMULATE_BY=title

  accumulator4.0.1:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=4.0.1
      - EOF_TO_RECEIVE=4
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=4.1
      - SHARD_BY=title
      - WORKER_FIELD=rating
      - WORKER_VALUE=10
      - ACCUMULATE_BY=title

  accumulator4.0.2:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=4.0.2
      - EOF_TO_RECEIVE=4
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=4.1
      - SHARD_BY=title
      - WORKER_FIELD=rating
      - WORKER_VALUE=10
      - ACCUMULATE_BY=title

  accumulator4.0.3:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=4.0.3
      - EOF_TO_RECEIVE=4
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=4.1
      - SHARD_BY=title
      - WORKER_FIELD=rating
      - WORKER_VALUE=10
      - ACCUMULATE_BY=title

  accumulator4.1.0:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=4.1.0
      - EOF_TO_RECEIVE=4
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=Gateway
      - SHARD_BY=
      - WORKER_FIELD=rating
      - WORKER_VALUE=10
      - ACCUMULATE_BY=title

  filter5.0.0:
    build:
      context: ./
      dockerfile: Filter/Filter.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=5.0.0
      - EOF_TO_RECEIVE=1
      - NEXT_POOL_WORKERS=5
      - FORWARD_TO=5.1
      - SHARD_BY=title
      - WORKER_FIELD=categories
      - WORKER_VALUE=Fiction

  filter5.0.1:
    build:
      context: ./
      dockerfile: Filter/Filter.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=5.0.1
      - EOF_TO_RECEIVE=1
      - NEXT_POOL_WORKERS=5
      - FORWARD_TO=5.1
      - SHARD_BY=title
      - WORKER_FIELD=categories
      - WORKER_VALUE=Fiction

  accumulator5.1.0:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
      args:
        - TEXTBLOB=True
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=5.1.0
      - EOF_TO_RECEIVE=2
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=5.2
      - SHARD_BY=title
      - WORKER_FIELD=review_text
      - WORKER_VALUE=
      - ACCUMULATE_BY=title

  accumulator5.1.1:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
      args:
        - TEXTBLOB=True
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=5.1.1
      - EOF_TO_RECEIVE=2
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=5.2
      - SHARD_BY=title
      - WORKER_FIELD=review_text
      - WORKER_VALUE=
      - ACCUMULATE_BY=title

  accumulator5.1.2:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
      args:
        - TEXTBLOB=True
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=5.1.2
      - EOF_TO_RECEIVE=2
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=5.2
      - SHARD_BY=title
      - WORKER_FIELD=review_text
      - WORKER_VALUE=
      - ACCUMULATE_BY=title

  accumulator5.1.3:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
      args:
        - TEXTBLOB=True
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=5.1.3
      - EOF_TO_RECEIVE=2
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=5.2
      - SHARD_BY=title
      - WORKER_FIELD=review_text
      - WORKER_VALUE=
      - ACCUMULATE_BY=title

  accumulator5.1.4:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
      args:
        - TEXTBLOB=True
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=5.1.4
      - EOF_TO_RECEIVE=2
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=5.2
      - SHARD_BY=title
      - WORKER_FIELD=review_text
      - WORKER_VALUE=
      - ACCUMULATE_BY=title

  accumulator5.2.0:
    build:
      context: ./
      dockerfile: Accumulator/Accumulator.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - WORKER_ID=5.2.0
      - EOF_TO_RECEIVE=5
      - NEXT_POOL_WORKERS=1
      - FORWARD_TO=Gateway
      - SHARD_BY=
      - WORKER_FIELD=mean_sentiment_polarity
      - WORKER_VALUE=90
      - ACCUMULATE_BY=title

  gateway:
    build:
      context: ./
      dockerfile: Gateway/Gateway.dockerfile
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    environment:
      - PYTHONUNBUFFERED=1
      - PORT=12345
      - BOOK_QUERIES=1,2,3,5
      - REVIEW_QUERIES=3,5
      - FORWARD_TO=1.0,2.0,3.0,5.0
      - SHARD_BY=,authors,title,title
      - NEXT_POOL_WORKERS=2,2,4,2
      - EOF_TO_RECEIVE=10

  client1:
    build:
      context: ./
      dockerfile: Client/Client.dockerfile
    restart: on-failure
    environment:
      - PYTHONUNBUFFERED=1
      - BATCH_SIZE=25
      - QUERY_RESULTS_PATH=/data/
      - QUERIES=1,2,3,4,5
      - SERVER_PORT=12345
    volumes:
      - dataVolume:/data

  client2:
    build:
      context: ./
      dockerfile: Client/Client.dockerfile
    restart: on-failure
    environment:
      - PYTHONUNBUFFERED=1
      - BATCH_SIZE=25
      - QUERY_RESULTS_PATH=/data/
      - QUERIES=1,2,3,4,5
      - SERVER_PORT=12345
    volumes:
      - dataVolume:/data

volumes:
  dataVolume:
    driver: local
    driver_opts:
      type: none
      device: ./data
      o: bind